<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <div th:include="header :: header"></div>
    <style>
        body {
        background-image: url("images/background.png");
        background-size: cover;
        }
    </style>


    <body>

        <div th:include="navigation :: navigation"></div>

        <div class="jumbotron"><h1>RX Member Portal</h1></div>

        <div class="container-fluid">
            <div class="col-md-8 col-md-offset-2">

        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3500" id="bs-carousel">
            <!-- Overlay -->
            <div class="overlay"></div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#bs-carousel" data-slide-to="1"></li>
                <li data-target="#bs-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slides active">
                    <div class="slide-1"></div>
                    <div class="hero">
                        <hgroup>
                            <h1>Secure</h1>
                            <h3>RMP uses state-of-the-art security using SSL certificates and Amazon EC2 security</h3>
                        </hgroup>

                    </div>
                </div>
                <div class="item slides">
                    <div class="slide-2"></div>
                    <div class="hero">
                        <hgroup>
                            <h1>24/7 Access</h1>
                            <h3>Amazon cloud services provide reliable access any time of day</h3>
                        </hgroup>
                    </div>
                </div>
                <div class="item slides">
                    <div class="slide-3"></div>
                    <div class="hero">
                        <hgroup>
                            <h1>Features</h1>
                            <h3>RMP provides quick and easy access for all your PBM needs</h3>
                        </hgroup>

                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </body>
</html>

