<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <div th:include="header :: header"></div>
    <style>
        body {
        background-image: url("images/background.png");
        background-size: cover;
        }
    </style>

    <body>

        <div th:include="navigation :: navigation"></div>

        <div class="jumbotron"><h1>RX Member Portal</h1></div>

        <div class="container-fluid">
            <h3> <span th:text="${welcomeMessage}"></span></h3>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-2">
                    <img class="img-responsive img-rounded" alt="" src="images/home.png"/>
                </div>
                <div class="col-sm-4 col-md-4 col-md-offset-0">
                    <h1>A new kind of PBM solution</h1>
                    <p> This space will be later saved for an overview of who and what ABC is. I dont think we need to get too specific, but if it fills the area nicely it will look more professional</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-3 col-md-offset-2">
                    <h1><span class="glyphicon glyphicon-leaf" aria-hidden="true" /> Benefits</h1>
                    <p>MRX utilizes current technologies to present and access your information. We allow you the ability to see your prescription benefits conveniently while maintaining high security standards.</p>
                </div>
                <div class="col-sm-4 col-md-3">
                    <h1><span class="glyphicon glyphicon-list-alt" aria-hidden="true" /> Features</h1>
                    <p>Register to access and receive prescription benefit information such as your plan benefit summary, prescription claim history, as well as our pharmacy locator, and drug price lookup tool.</p>
                </div>
                <div class="col-sm-4 col-md-3">
                    <h1><span class="glyphicon glyphicon-random" aria-hidden="true" /> Access</h1>
                    <p>With online access, you can retrieve your prescription benefit information with an Internet-connected web browser on any computer platform, at any time of day.</p>
                </div>
            </div>
        </div>


    </body>
</html>

