<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <div th:include="header :: header"></div>
    <style>
        body {
        background-image: url("images/background.png");
        background-size: cover;
        }
    </style>

    <body>

        <div th:include="navigation :: navigation"></div>

        <div class="jumbotron"><h1>ABC Member Portal</h1></div>

        <div class="container-fluid">


            <h1>Home Content here</h1>
        </div>


    </body>
</html>

