<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <body>


        <div th:fragment="navigation">

            <nav role="navigation" class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span
                                class="sronly"></span><span class="icon-bar"></span><span class="icon-bar"></span><span
                                class="icon-bar"></span></button>
                        <a href="http://ec2-54-204-111-79.compute-1.amazonaws.com" class="navbar-brand">
                            <img id="brand-image" alt="Website Logo" src="images/RMP.gif"/>
                        </a>
                    </div>
                    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/portal">Portal</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contactUs">Contact Us</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/#" th:href="${signInOutLink.link}"><span th:text="${signInOutLink.label}"></span></a></li>
                            <li><a href="/portal">Member Portal</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
     </body>
 </html>