<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:include="header :: header"></div>
<style>
    body {
    background-image: url("images/background.png");
    background-size: cover;
    }
</style>
<style>
    .panel > .panel-heading {
    background-image: url("images/background.png");
    background-size: cover;
    color: white;
    margin-left 0px;

    }
</style>
<style type="text/css">
    #map {
    width: 100%;
    height: 400px;
    }
    #map {
    background: #58B;
    }
</style>
<body>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="/js/gmaps.js"></script>
<div th:include="navigation :: navigation"></div>

<div class="jumbotron"><h1>RX Member Portal</h1></div>
<div class="container-fluid">
    <div id="content">
        <ul id="tabs" data-tabs="tabs" class="nav nav-tabs nav-justified">
            <li class="active"><a href="#Prescription" data-toggle="tab"> Prescription Benefit Summary</a> </li>
            <li><a href="#Claim" data-toggle="tab">Prescription History</a></li>
            <li><a href="#Drug" data-toggle="tab">Drug Price Lookup</a></li>
            <li><a href="#Locate" data-toggle="tab">Locate a Pharmacy</a></li>
            <li><a href="#Health" data-toggle="tab">Health and Wellness</a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div id="Prescription" class="tab-pane">
                <div class="text-center">
                    <h1>Prescription Benefit Summary</h1>
                </div>
                <div class="Prescription">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3>Welcome  <span th:text="${fullName}"></span></h3>
                                </div>
                                <div class="text-center">Member ID: <span th:text="${insuranceId}"></span></div>
                                <div class="text-center">Rx Group ID: <span th:text="${groupId}"></span></div>
                                <div class="text-center">Plan Name: <span th:text="${planName}"></span></div>
                                <div class="divider"></div>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="active">
                                        <th> </th>
                                        <th> </th>
                                        <th>Individual</th>
                                        <th>Family</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Deductible</td>
                                        <td><span th:text="${deductibleAmountIndividual}"></span></td>
                                        <td><span th:text="${deductibleAmountFamily}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Coinsurance</td>
                                        <td><span th:text="${coInsuranceIndividual}"></span></td>
                                        <td><span th:text="${coInsuranceFamily}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Benefits Limit</td>
                                        <td><span th:text="${benefitAmountIndividual}"></span></td>
                                        <td><span th:text="${benefitAmountFamily}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Maximum Out-Of-Pocket</td>
                                        <td><span th:text="${maximumOutOfPocketIndividual}"></span></td>
                                        <td><span th:text="${maximumOutOfPocketFamily}"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!--panel 1-->
                        </div><!--col 1-->
                        <div class="col-sm-6 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">RETAIL - Regular Supply</div>

                                        <table class="table table-bordered">
                                            <thead>
                                            <tr class="active">
                                                <th>Prescription Type</th>
                                                <th>Copay</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Formulary Generic</td>
                                                <td>$8.00</td>
                                            </tr>
                                            <tr>
                                                <td>Non-Forulary Generic</td>
                                                <td>$8.00</td>
                                            </tr>
                                            <tr>
                                                <td>Formulary Brand</td>
                                                <td>$30.00</td>
                                            </tr>
                                            <tr>
                                                <td>Non-Formulary Brand</td>
                                                <td>$50.00</td>
                                            </tr>

                                            </tbody>
                                            </table>
                            </div><!--col 2 panel 1-->
                            <div class="panel panel-default">
                                <div class="panel-heading">RETAIL - Extended Day Supply</div>

                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="active">
                                        <th>Prescription Type</th>
                                        <th>Copay</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Formulary Generic</td>
                                        <td>$24.00</td>
                                    </tr>
                                    <tr>
                                        <td>Non-Forulary Generic</td>
                                        <td>$24.00</td>
                                    </tr>
                                    <tr>
                                        <td>Formulary Brand</td>
                                        <td>$90.00</td>
                                    </tr>
                                    <tr>
                                        <td>Non-Formulary Brand</td>
                                        <td>$150.00</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div><!--col 2 panel 2-->

                        </div><!--col 2-->
                        <div class="col-sm-6 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Mail Order</div>
                            <table class="table table-bordered">
                                <thead>
                                <tr class="active">
                                    <th>Prescription Type</th>
                                    <th>Copay</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Formulary Generic</td>
                                    <td>$16.00</td>
                                </tr>
                                <tr>
                                    <td>Non-Forulary Generic</td>
                                    <td>$16.00</td>
                                </tr>
                                <tr>
                                    <td>Formulary Brand</td>
                                    <td>$60.00</td>
                                </tr>
                                <tr>
                                    <td>Non-Formulary Brand</td>
                                    <td>$100.00</td>
                                </tr>

                                </tbody>
                            </table>
                        </div><!--col 2 panel 3-->
                        </div>
                    </div><!--row-->
                </div><!--prescription class-->
            </div><!--prescription tab-->
            <div id="Claim" class="tab-pane">
                <div class="text-center">
                    <h1>Prescription History</h1>
                </div>
                <div class="Claim">
                    <div class="row">

                        <div class="panel panel-justified">
                            <div class="panel-heading">

                                <h2>Welcome  <span th:text="${fullName}"></span></h2>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="padded-multiline">
                                    <div class="text-left" id="isuranceMemberId">Member ID: <span th:text="${insuranceId}"></span></div>
                                    <div class="text-left">Rx Group ID: <span th:text="${groupId}"></span></div>
                                    <div class="text-left">Plan Name: <span th:text="${planName}"></span></div>

                                    <div class="divider"></div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <form role="form" class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Select Member:</label>
                                            <div class="col-sm-3">
                                                <select id="dependent" class="form-control" th:field="*{dependents}">
                                                    <option th:each="dependent : ${dependents}"
                                                            th:value="${dependent.mbrId}"
                                                            th:text="${dependent.mbrName}">

                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <form role="form" class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Select Time Period:</label>
                                            <div class="col-sm-3">
                                                <select id="period" class="form-control">
                                                    <option value="3">3 Months</option>
                                                    <option value="6">6 Months</option>
                                                    <option value="12">12 Months</option>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <table id="prescriptionHistoryTable" class="table table-bordered">
                                <thead>
                                <tr class="active">
                                    <th> </th>
                                    <th>RX# </th>
                                    <th>Date Filled</th>
                                    <th>Drug Name</th>
                                    <th>Member Paid</th>
                                    <th>Pharmacy</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Drug" class="tab-pane">
                <div class="text-center">
                    <h1>Drug Price Lookup</h1>
                </div>
                <div class="Drug">
                    <div class="panel panel-justified">

                        <div class="panel-heading">
                            <h2>Welcome <span th:text="${fullName}"></span></h2>
                        </div>
                        <div class="row">
                            <div class="panel-body">
                                <div class="col-sm-6 col-md-6">
                                    <div class="padded-multiline">
                                        <div class="text-left">Member ID: <span th:text="${insuranceId}"></span></div>
                                        <div class="text-left">Rx Group ID: <span th:text="${groupId}"></span></div>
                                        <div class="text-left">Plan Name:  <span th:text="${planName}"></span></div>
                                        <div class="divider"></div>
                                        <hr></hr>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <!--<form role="form" class="form-horizontal">-->
                                        <!--<fieldset>-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="col-sm-2 control-label">Select Member:</label>-->
                                                <!--<div class="col-sm-3">-->
                                                    <!--<select class="form-control">-->
                                                        <!--<option value="1">1</option>-->
                                                        <!--<option value="2">2</option>-->
                                                        <!--<option value="3">3</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</fieldset>-->
                                    <!--</form>-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <form role="form" class="form-horizontal">
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Enter Drug Name:</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control input-lg" placeholder="Example: Ibuprofen"></input>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Select a Form and Strength:</label>
                                                <div class="col-sm-5">
                                                    <select class="form-control input-lg">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Select Dosage:</label>
                                                <div class="col-sm-5">
                                                    <select class="form-control input-lg">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-lg btn-primary pull-right"
                                                   data-toggle="modal"
                                                   data-target="#basicModal">Look Up Price</a>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="col-sm-6 col-md-5">
                                    <h4>Choose a drug matching your criteria below:</h4>
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">DB call</a>
                                        <a href="#" class="list-group-item">DB call</a>
                                        <a href="#" class="list-group-item">DB call</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Locate"  class="tab-pane active">
                <div class="text-center">
                    <h1>Locate a Pharmacy</h1>
                </div>
                    <div class="Locate">
                        <div class="panel panel-justified">

                            <div class="panel-heading">
                                <h2>Welcome <span th:text="${fullName}"></span></h2>
                            </div>
                            <div class="row">
                                <div class="panel-body">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="padded-multiline">
                                            <div class="text-left">Member ID: <span th:text="${insuranceId}"></span></div>
                                            <div class="text-left">Rx Group ID: <span th:text="${groupId}"></span></div>
                                            <div class="text-left">Plan Name:  <span th:text="${planName}"></span></div>
                                            <div class="divider"></div>
                                            <hr></hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <form role="form" class="form-horizontal">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Your Zipcode:</label>
                                                    <div class="col-sm-5">
                                                        <input type="text" id="pharmacyAddress" class="form-control input-lg" placeholder="Enter an Address, City and State, or ZIP Code:"></input>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Search Within:</label>
                                                    <div class="col-sm-5">
                                                        <select id="searchRadius" class="form-control input-lg">
                                                            <option value="5">5 Miles</option>
                                                            <option value="10">10 Miles</option>
                                                            <option value="20">20 Miles</option>
                                                        </select>
                                                        <br></br>
                                                        <input type="submit" id="locateAPharmacyBtn" class="btn btn-info" value="Locate Pharmacy"/>
                                                    </div>
                                                </div>
                                            </fieldset>
                                    </div>

                                </div>




                            </div>
                        </div>
                        <div id="map" style="max-width: none; width=100%;"></div>
                    </div>
                </div>

            <div id="Health" class="tab-pane">
                <div class="text-center">
                    <h1>Health and Wellness</h1>
                </div>
            </div>
        </div><!--tab content-->
    </div><!--content-->
</div><!--container-->

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Pricing</h4>
            </div>
            <div class="modal-body">
                <h3>Add database pull here</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<input id="tokenId" type="hidden" th:value="${token}" ></input>



<script>

    var map = new GMaps({
        div: '#map',
        zoom: 5,
        lat: 37.09024,
        lng: -95.712891
    });


    $('#locateAPharmacyBtn').click(function(){

        GMaps.geocode({
             address: $('#pharmacyAddress').val() ,
             callback: function( results, status) {
                 if( status == 'OK') {

                     var latlng = results[0].geometry.location;
                     map.setCenter(latlng.lat(), latlng.lng());
                     map.setZoom(12);


                 }
             }
         });


        $.get( "/findPharmacy",
            {token: $('#tokenId').val(),  zipcode : $('#pharmacyAddress').val() , radius :  $('#searchRadius').val() },
            function(addresses) {

                $.each(addresses, function(index, addr) {

                    var content = '<p>' + addr.name + '<br/>' + addr.city + ' ' + addr.state + ',' + addr.zipcode + '<br/> Miles Away:' + addr.milesAway + '<br/> Fax:' + addr.fax +  '</p>'

                    map.addMarker({
                        lat:addr.latitude,
                        lng:addr.longitude,
                        title:addr.name,
                        infoWindow: { content : content }
                    });
                });

            }
        );
    });



    $('#dependent').change(function() {
        $("#prescriptionHistoryTable tbody").remove();
        updateTable();
    });

    $('#period').change(function() {
        $("#prescriptionHistoryTable tbody").remove();
        updateTable();

    });

    var updateTable = function() {
        $.get( "/prescriptionHistory",
            {token: $('#tokenId').val(),  mrbId : $('#dependent').val() , period :  $('#period').val() },
            function(data) {
                $.each(data, function(index, value) {
                    var row = "<tr><td>" + index + "</td><td>"+ value.rxNumber +"</td><td>"+ value.dateFilled + "</td><td>"+ value.drug +"</td><td>"+ value.mbrPaid +"</td><td>" + value.pharmacy + "</td></tr>";

                    $("#prescriptionHistoryTable").last().append(row);
                });

            }
        );
    }


</script>

</body>
</html>