<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:include="header :: header"></div>
<style>
    body {
    background-image: url("images/background.png");
    background-size: cover;
    }
</style>
<style>
    .panel > .panel-heading {
    background-image: url("images/background.png");
    background-size: cover;
    color: white;
    margin-left 0px;

    }
</style>
<body>

<div th:include="navigation :: navigation"></div>


<div class="jumbotron"><h1>ABC Member Portal</h1></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<div class="container-fluid">
    <div id="content">
        <ul id="tabs" data-tabs="tabs" class="nav nav-tabs nav-justified">
            <li class="active"><a href="#Prescription" data-toggle="tab"> Prescription Benefit Summary</a> </li>
            <li><a href="#Claim" data-toggle="tab">Prescription History</a></li>
            <li><a href="#Drug" data-toggle="tab">Drug Price Lookup</a></li>
            <li><a href="#Locate" data-toggle="tab">Locate a Pharmacy</a></li>
            <li><a href="#Health" data-toggle="tab">Health and Wellness</a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div id="Prescription" class="tab-pane active">
                <div class="text-center">
                    <h1>Prescription Benefit Summary</h1>
                </div>
                <div class="Prescription">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>Welcome</h2>
                                </div>
                                <div class="text-center">Member ID: <span th:text="${insuranceId}"></span></div>
                                <div class="text-center">Rx Group ID: <span th:text="${groupId}"></span></div>
                                <div class="text-center">Plan Name: <span th:text="${planName}"></span></div>
                                <div class="divider"></div>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="active">
                                        <th> </th>
                                        <th> </th>
                                        <th>Individual</th>
                                        <th>Family</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Deductible</td>
                                        <td>$0</td>
                                        <td>$0</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Deductible Paid YTD</td>
                                        <td>$0</td>
                                        <td>$0</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Deductible Remaining YTD</td>
                                        <td>$0</td>
                                        <td>$0</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Maximum Out-Of-Pocket</td>
                                        <td>$2000</td>
                                        <td>$4000                   </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!--panel 1-->
                        </div><!--col 1-->
                        <div class="col-sm-6 col-md-4">
                            <div class="panel panel-default">
                                <div class="text-center">Copayments/Coinsurance</div>
                                <div class="panel-heading">RETAIL - Regular Supply</div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <p>Formulary Generic</p>
                                            <p>Non-Formulary Generic</p>
                                            <p>Formulary Brand</p>
                                            <p>Non-Formulary Brand                   </p>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="divider-vertical">
                                                <p>$8.00</p>
                                                <p>$8.00</p>
                                                <p>$30.00</p>
                                                <p>$50.00</p>
                                            </div>
                                        </div>
                                    </div><!--row 1 panel 2-->
                                </div><!--container 2-->
                            </div><!--col 2 panel 1-->
                            <div class="panel panel-default">
                                <div class="panel-heading">RETAIL - Extended Day Supply</div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <p>Formulary Generic</p>
                                            <p>Non-Formulary Generic</p>
                                            <p>Formulary Brand</p>
                                            <p>Non-Formulary Brand                   </p>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="divider-vertical">
                                                <p>$24.00</p>
                                                <p>$24.00</p>
                                                <p>$90.00</p>
                                                <p>$150.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--col 2 panel 2-->
                            <div class="panel panel-default">
                                <div class="panel-heading">Mail Order</div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <p>Formulary Generic</p>
                                            <p>Non-Formulary Generic</p>
                                            <p>Formulary Brand</p>
                                            <p>Non-Formulary Brand                   </p>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="divider-vertical">
                                                <p>$16.00</p>
                                                <p>$16.00</p>
                                                <p>$60.00</p>
                                                <p>$100.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--col 2 panel 3-->
                        </div><!--col 2-->
                    </div><!--row-->
                </div><!--prescription class-->
            </div><!--prescription tab-->
            <div id="Claim" class="tab-pane">
                <div class="text-center">
                    <h1>Prescription History</h1>
                </div>
                <div class="Claim">
                    <div class="row">

                        <div class="panel panel-justified">
                            <div class="panel-heading">

                                <h2>Welcome ***</h2>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="padded-multiline">
                                    <div class="text-left">Member ID: ***insert number***</div>
                                    <div class="text-left">Rx Group ID: ***insert number***</div>
                                    <div class="text-left">Plan Name: ***insert name***</div>
                                    <div class="divider"></div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <form role="form" class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Select Member:</label>
                                            <div class="col-sm-3">
                                                <select class="form-control">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <form role="form" class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Select Time Period:</label>
                                            <div class="col-sm-3">
                                                <select class="form-control">
                                                    <option value="3 Months">3 Months</option>
                                                    <option value="6 Months">6 Months</option>
                                                    <option value="12 Months">12 Months</option>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                <tr class="active">
                                    <th> </th>
                                    <th>RX# </th>
                                    <th>Date Filled</th>
                                    <th>Drug Name</th>
                                    <th>Member Paid</th>
                                    <th>Pharmacy</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Drug" class="tab-pane">
                <div class="text-center">
                    <h1>Drug Price Lookup</h1>
                </div>
                <div class="Drug">
                    <div class="panel panel-justified">

                        <div class="panel-heading">
                            <h2>Welcome ***</h2>
                        </div>
                        <div class="row">
                            <div class="panel-body">
                                <div class="col-sm-6 col-md-6">
                                    <div class="padded-multiline">
                                        <div class="text-left">Member ID: ***insert number***</div>
                                        <div class="text-left">Rx Group ID: ***insert number***</div>
                                        <div class="text-left">Plan Name: ***insert name***</div>
                                        <div class="divider"></div>
                                        <hr></hr>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <form role="form" class="form-horizontal">
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Select Member:</label>
                                                <div class="col-sm-3">
                                                    <select class="form-control">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <form role="form" class="form-horizontal">
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Enter Drug Name:</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control input-lg" placeholder="Example: Ibuprofen"></input>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Select a Form and Strength:</label>
                                                <div class="col-sm-5">
                                                    <select class="form-control input-lg">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Select Dosage:</label>
                                                <div class="col-sm-5">
                                                    <select class="form-control input-lg">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-lg btn-primary pull-right"
                                                   data-toggle="modal"
                                                   data-target="#basicModal">Look Up Price</a>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <textarea rows="15" cols="50">This might be a good way to display the info from DB. Let me know if you have a better idea</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Locate" class="tab-pane">
                <div class="text-center">
                    <h1>Locate a Pharmacy</h1>
                </div>
            </div>
            <div id="Health" class="tab-pane">
                <div class="text-center">
                    <h1>Health and Wellness</h1>
                </div>
            </div>
        </div><!--tab content-->
    </div><!--content-->
</div><!--container-->

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Pricing</h4>
            </div>
            <div class="modal-body">
                <h3>Add database pull here</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">link to locate?</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>