<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:include="header :: header"></div>
<style>
    body {
    background-image: url("images/background.png");
    background-size: cover;
    }
</style>
<style>
    .panel > .panel-heading {
    background-image: url("images/background.png");
    background-size: cover;
    color: white;
    margin-left 0px;

    }
</style>
<style type="text/css">
    #map {
    width: 100%;
    height: 400px;
    }
    #map {
    background: #58B;
    }
</style>
<body>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script src="/js/gmaps.js"></script>
<div th:include="navigation :: navigation"></div>

<div class="jumbotron"><h1>RX Member Portal</h1></div>
<div class="container-fluid">
    <div id="content">
        <ul id="tabs" data-tabs="tabs" class="nav nav-tabs nav-justified">
            <li class="active"><a href="#Locate" data-toggle="tab">Locate a Pharmacy</a></li>

            <li><a href="#Claim" data-toggle="tab">Prescription History</a></li>
            <li><a href="#Drug" data-toggle="tab">Drug Price Lookup</a></li>
            <li><a href="#Prescription" data-toggle="tab"> Prescription Benefit Summary</a> </li>
            <li><a href="#Health" data-toggle="tab">Health and Wellness</a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div id="Prescription" class="tab-pane">
                <div class="text-center">
                    <h1>Prescription Benefit Summary</h1>
                </div>
                <div class="Prescription">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3>Welcome  <span th:text="${fullName}"></span></h3>
                                </div>
                                <div class="text-center">Member ID: <span th:text="${insuranceId}"></span></div>
                                <div class="text-center">Rx Group ID: <span th:text="${groupId}"></span></div>
                                <div class="text-center">Plan Name: <span th:text="${planName}"></span></div>
                                <div class="divider"></div>
                                <table class="table table-bordered">
                                    <div class="panel-heading">Annual Benefits</div>
                                    <thead>
                                    <tr class="active">
                                        <th> </th>
                                        <th> </th>
                                        <th>Individual</th>
                                        <th>Family</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Deductible</td>
                                        <td><span th:text="${deductibleAmountIndividual}"></span></td>
                                        <td><span th:text="${deductibleAmountFamily}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Coinsurance</td>
                                        <td><span th:text="${coInsuranceIndividual}"></span></td>
                                        <td><span th:text="${coInsuranceFamily}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Benefits Limit</td>
                                        <td><span th:text="${benefitAmountIndividual}"></span></td>
                                        <td><span th:text="${benefitAmountFamily}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Maximum Out-Of-Pocket</td>
                                        <td><span th:text="${maximumOutOfPocketIndividual}"></span></td>
                                        <td><span th:text="${maximumOutOfPocketFamily}"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!--panel 1-->
                        </div><!--col 1-->
                        <div class="col-sm-6 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">RETAIL - Regular Supply</div>

                                        <table class="table table-bordered">
                                            <thead>
                                            <tr class="active">
                                                <th>Prescription Type</th>
                                                <th>Copay</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Formulary Generic</td>
                                                <td>$8.00</td>
                                            </tr>
                                            <tr>
                                                <td>Non-Forulary Generic</td>
                                                <td>$8.00</td>
                                            </tr>
                                            <tr>
                                                <td>Formulary Brand</td>
                                                <td>$30.00</td>
                                            </tr>
                                            <tr>
                                                <td>Non-Formulary Brand</td>
                                                <td>$50.00</td>
                                            </tr>

                                            </tbody>
                                            </table>
                            </div><!--col 2 panel 1-->
                            <div class="panel panel-default">
                                <div class="panel-heading">RETAIL - Extended Day Supply</div>

                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="active">
                                        <th>Prescription Type</th>
                                        <th>Copay</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Formulary Generic</td>
                                        <td>$24.00</td>
                                    </tr>
                                    <tr>
                                        <td>Non-Forulary Generic</td>
                                        <td>$24.00</td>
                                    </tr>
                                    <tr>
                                        <td>Formulary Brand</td>
                                        <td>$90.00</td>
                                    </tr>
                                    <tr>
                                        <td>Non-Formulary Brand</td>
                                        <td>$150.00</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div><!--col 2 panel 2-->

                        </div><!--col 2-->
                        <div class="col-sm-6 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Mail Order</div>
                            <table class="table table-bordered">
                                <thead>
                                <tr class="active">
                                    <th>Prescription Type</th>
                                    <th>Copay</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Formulary Generic</td>
                                    <td>$16.00</td>
                                </tr>
                                <tr>
                                    <td>Non-Forulary Generic</td>
                                    <td>$16.00</td>
                                </tr>
                                <tr>
                                    <td>Formulary Brand</td>
                                    <td>$60.00</td>
                                </tr>
                                <tr>
                                    <td>Non-Formulary Brand</td>
                                    <td>$100.00</td>
                                </tr>

                                </tbody>
                            </table>
                        </div><!--col 2 panel 3-->
                        </div>
                    </div><!--row-->
                </div><!--prescription class-->
            </div><!--prescription tab-->
            <div id="Claim" class="tab-pane">
                <div class="text-center">
                    <h1>Prescription History</h1>
                </div>
                <div class="Claim">
                    <div class="row">

                        <div class="panel panel-justified">
                            <div class="panel-heading">

                                <h2>Welcome  <span th:text="${fullName}"></span></h2>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="padded-multiline">
                                    <div class="text-left" id="isuranceMemberId">Member ID: <span th:text="${insuranceId}"></span></div>
                                    <div class="text-left">Rx Group ID: <span th:text="${groupId}"></span></div>
                                    <div class="text-left">Plan Name: <span th:text="${planName}"></span></div>

                                    <div class="divider"></div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <form role="form" class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Select Member:</label>
                                            <div class="col-sm-3">
                                                <select id="dependent" class="form-control" th:field="*{dependents}">
                                                    <option th:each="dependent : ${dependents}"
                                                            th:value="${dependent.mbrId}"
                                                            th:text="${dependent.mbrName}">

                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <img id="selectMemberDropDownLoader" src="images/ajax-loader.gif" />
                                    </fieldset>
                                </form>
                                <form role="form" class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Select Time Period:</label>
                                            <div class="col-sm-3">
                                                <select id="period" class="form-control">
                                                    <option value="3">3 Months</option>
                                                    <option value="6">6 Months</option>
                                                    <option value="12">12 Months</option>
                                                </select>
                                            </div>
                                            <img id="selectTimeDropDownLoader" src="images/ajax-loader.gif" />
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <table id="prescriptionHistoryTable" class="table table-bordered">
                                <thead>
                                <tr class="active">
                                    <th> </th>
                                    <th>RX# </th>
                                    <th>Date Filled</th>
                                    <th>Drug Name</th>
                                    <th>Member Paid</th>
                                    <th>Pharmacy</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Drug" class="tab-pane">
                <div class="text-center">
                    <h1>Drug Price Lookup</h1>
                </div>
                <div class="Drug">
                    <div class="panel panel-justified">

                        <div class="panel-heading">
                            <h2>Welcome <span th:text="${fullName}"></span></h2>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <div class="ajax-image">
                                <img id="searchDrugNameLoader" src="images/ajax-loader.gif" height="50" width="50" />
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-6 col-md-6">
                                    <div class="padded-multiline">
                                        <div class="text-left">Member ID: <span th:text="${insuranceId}"></span></div>
                                        <div class="text-left">Rx Group ID: <span th:text="${groupId}"></span></div>
                                        <div class="text-left">Plan Name:  <span th:text="${planName}"></span></div>
                                        <div class="divider"></div>
                                        <hr></hr>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 pull-right">

                                    <select id="pharmacySelect" class="form-control input-lg">
                                    </select>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-md-offset-4">

                                        <fieldset>
                                            <div class="form-group">
                                                    <input id="drugName" type="text" class="form-control input-lg" placeholder="Enter Name of Drug"></input>
                                            </div>
                                        </fieldset>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <button id="searchDrugName" class="btn btn-lg btn-primary">Search</button>

                                </div>
                            </div>

                            <div class="row>">
                                <div class="col-sm-4 col-md-4 col-md-offset-4">
                                    <h4>Choose a drug matching your criteria below:</h4>
                                    <div class="myList">
                                        <div class="list-group" >
                                            <select id="drugMatchList" size="4" style="width: 100%">
                                                <option></option>
                                            </select>

                                        </div>
                                    </div>
                                    <br/>
                                    <div class="col-md-8 col-md-offset-3">
                                        <button id="findDrugDetail" class="btn btn-lg btn-primary">Search For Variation</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">

                                    <div class="col-sm-4 col-md-4 col-md-offset-4">
                                        <label class="col-sm-4 control-label">Select a Form and Strength:</label>
                                        <select id="formAndStrength" class="form-control input-lg">
                                            <option value="1">Form And Strength</option>
                                        </select>
                                    </div>
                                </div>
                                <br></br>


                            </div>
                        <div class="text-center">
                            <br></br>
                            <a href="#" id="lookUpPrice" class="btn btn-lg btn-primary"
                               data-toggle="modal"
                               data-target="#basicModal">Look Up Price</a>
                            <br></br>
                        </div>

                                </div>

                            </div>
                        </div>

            <div id="Locate"  class="tab-pane active">
                <div class="text-center">
                    <h1>Locate a Pharmacy</h1>
                </div>
                    <div class="Locate">
                        <div class="panel panel-justified">

                            <div class="panel-heading">
                                <h2>Welcome <span th:text="${fullName}"></span></h2>
                            </div>
                            <div class="row">
                                <div class="panel-body">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="padded-multiline">
                                            <div class="text-left">Member ID: <span th:text="${insuranceId}"></span></div>
                                            <div class="text-left">Rx Group ID: <span th:text="${groupId}"></span></div>
                                            <div class="text-left">Plan Name:  <span th:text="${planName}"></span></div>
                                            <div class="divider"></div>
                                            <hr></hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <form role="form" class="form-horizontal">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Your Zipcode:</label>
                                                    <div class="col-sm-5">
                                                        <input type="text" id="pharmacyAddress" class="form-control input-lg" placeholder="Enter an Address, City and State, or ZIP Code:"></input>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Search Within:</label>
                                                    <div class="col-sm-5">
                                                        <select id="searchRadius" class="form-control input-lg">
                                                            <option value="5">5 Miles</option>
                                                            <option value="10">10 Miles</option>
                                                            <option value="20">20 Miles</option>
                                                        </select>
                                                        <br></br>
                                                        <img id="locateAPharmacyLoader" src="images/ajax-loader.gif" />
                                                        <input type="submit" id="locateAPharmacyBtn" class="btn btn-info" value="Locate Pharmacy"/>
                                                    </div>
                                                </div>
                                            </fieldset>
                                    </div>

                                </div>




                            </div>
                        </div>
                        <div id="map" style="max-width: none; width=100%;"></div>
                    </div>
                </div>

            <div id="Health" class="tab-pane">
                <div class="text-center">
                    <h1>Health and Wellness</h1>
                </div>
                <div class="container-fluid">

                    <div class="row row-offcanvas row-offcanvas">


                        <div class="col-sm-9 col-md-10 main col-md-offset-1">

                            <!--toggle sidebar button-->
                            <p class="visible-xs">
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
                            </p>


                            <div class="row placeholders">
                                <div class="col-xs-6 col-sm-3 placeholder text-center">
                                    <img src="images/webmd.jpg" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
                                    <li><a href="http://www.webmd.com/"><h4>Web MD</h4></a></li>

                                </div>
                                <div class="col-xs-6 col-sm-3 placeholder text-center">
                                    <img src="images/healthandwellness.jpg" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
                                    <li><a href="http://www.health.com/health/"><h4>Health and Wellness</h4></a></li>

                                </div>
                                <div class="col-xs-6 col-sm-3 placeholder text-center">
                                    <img src="images/womenshealth.jpg" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
                                    <li><a href="http://www.healthywomen.org/"><h4>Womens Health</h4></a></li>

                                </div>
                                <div class="col-xs-6 col-sm-3 placeholder text-center">
                                    <img src="images/mentalhealth.jpg" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
                                    <li><a href="http://www.mentalhealth.gov/index.html"><h4>Mental Health</h4></a></li>

                                </div>
                            </div>
                            <hr>
                        </div><!--/row-->
                    </div>
                </div><!--/.container-->
            </div>
        </div><!--tab content-->
    </div><!--content-->
</div><!--container-->

<div class="modal" id="basicModal" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Pricing</h4>
            </div>
            <div class="modal-body">
                <h3>Brand Gen: <p style="color:red" id="brandGen"></p></h3>
                <h3>Formulary Status: <p style="color:red" id="formularyStatus"></p></h3>
                <h3>Drug Name: <p  style="color:red" id="drugNameInfo"></p></h3>
                <h3>Retail: <p  style="color:red" id="retail"></p></h3>
                <h3>Extended Day Supply: <p style="color:red" id="eds90"></p></h3>
                <h3>Mail Order: <p style="color:red" id="mailOrder"></p></h3>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-default" id="closeModal">Close</button>
            </div>
        </div>
    </div>
</div>
<input id="tokenId" type="hidden" th:value="${token}" ></input>



<script>

    var updateTable = function() {

        $.get( "/prescriptionHistory",
            {token: $('#tokenId').val(),  mrbId : $('#dependent').val() , period :  $('#period').val() },
            function(data) {

                $("#prescriptionHistoryTable tbody").remove();
                $('#selectMemberDropDownLoader').hide();
                $('#selectTimeDropDownLoader').hide();

                $.each(data, function(index, value) {
                    var row = "<tr><td>" + index + "</td><td>"+ value.rxNumber +"</td><td>"+ value.dateFilled + "</td><td>"+ value.drug +"</td><td>"+ value.mbrPaid +"</td><td>" + value.pharmacy + "</td></tr>";

                    $("#prescriptionHistoryTable").last().append(row);
                });

            }
        );
    }

    $(function() {
        $('#selectMemberDropDownLoader').hide();
        $('#selectTimeDropDownLoader').hide();
        $('#locateAPharmacyLoader').hide();
        $('#searchDrugNameLoader').hide();
        $('#basicModal').hide();

        $.get("/findPharmacy",
                {token: $('#tokenId').val(), zipcode: '92101', radius: 5},
                function (addresses) {

                    $.each(addresses, function (index, addr) {


                        var drugElement = "<option value='" + addr.pharmacyId + "' >" + addr.name + " (" + addr.address1 + " - " + addr.city + ")</option>";

                        $('#pharmacySelect').append(drugElement);
                    });

                }
        );

        updateTable();
    });



    var map = new GMaps({
        div: '#map',
        zoom: 5,
        lat: 37.09024,
        lng: -95.712891
    });


    $('#searchDrugName').click( function() {
        // drugMatchList
        $('#searchDrugNameLoader').show();
        $('#drugMatchList option').remove();
        $.get( "/findDrugs",
                   {token: $('#tokenId').val(),  drug : $('#drugName').val() },
                   function(drugs) {

                       $.each(drugs, function(index, drug) {

                          var drugElement =  "<option class='list-group-item selectedDrugs'>" + drug + "</option>";

                           $('#drugMatchList').append(drugElement);

                       });
                       $('#searchDrugNameLoader').hide();
                   }
               );
    });

    $('#findDrugDetail').click(function () {
        $('#searchDrugNameLoader').show();
        $('#formAndStrength option').remove();
        $('#dosage option').remove();

        $.get("/findDrugDetails",
                {token: $('#tokenId').val(), drugDescription: $('#drugMatchList').val()},
                function (drugDetails) {

                    $.each(drugDetails, function (index, drugDetail) {

                        var drugElement = "<option value='" + drugDetail.vNdc + "'>" + drugDetail.drugDetail + "</option>";

                        $('#formAndStrength').append(drugElement);


                    });
                    $('#searchDrugNameLoader').hide();
                }
        );
    });

    $('#lookUpPrice').click(function() {

        $.get("/findDrugPrice",
                {token: $('#tokenId').val(), drugNdc: $('#formAndStrength').val(), pharmacyId: $('#pharmacySelect').val()},
                function (drugPrice) {

                    $('#brandGen').text(drugPrice.brandGen);
                    $('#formularyStatus').text(drugPrice.formularyStatus);
                    $('#retail').text(drugPrice.retail);
                    $('#drugNameInfo').text(drugPrice.drugName);
                    $('#eds90').text(drugPrice.eds90);

                    $('#mailOrder').text(drugPrice.mailOrder);
                    $('#searchDrugNameLoader').hide();
                    $('#basicModal').show();
                }
        );

    });


    $('#closeModal').click(function() {
        $('#basicModal').hide();
    });


    $('#locateAPharmacyBtn').click(function(){
        $('#locateAPharmacyLoader').show();
        GMaps.geocode({
             address: $('#pharmacyAddress').val() ,
             callback: function( results, status) {
                 if( status == 'OK') {
                     $('#locateAPharmacyLoader').hide();
                     var latlng = results[0].geometry.location;
                     map.setCenter(latlng.lat(), latlng.lng());
                     map.setZoom(12);


                 }
                 $('#locateAPharmacyLoader').hide();
             }
         });


        $.get( "/findPharmacy",
            {token: $('#tokenId').val(),  zipcode : $('#pharmacyAddress').val() , radius :  $('#searchRadius').val() },
            function(addresses) {

                $.each(addresses, function(index, addr) {

                    var content = '<p>' + addr.name + '<br/>' + addr.city + ' ' + addr.state + ',' + addr.zipcode + '<br/> Miles Away:' + addr.milesAway + '<br/> Fax:' + addr.fax +  '</p>'

                    map.addMarker({
                        lat:addr.latitude,
                        lng:addr.longitude,
                        title:addr.name,
                        infoWindow: { content : content }
                    });
                });

            }
        );
    });



    $('#dependent').change(function() {
        $('#selectMemberDropDownLoader').show();
        updateTable();
    });

    $('#period').change(function() {
        $('#selectTimeDropDownLoader').show();
        updateTable();

    });


    var updateTable = function() {

        $.get( "/prescriptionHistory",
            {token: $('#tokenId').val(),  mrbId : $('#dependent').val() , period :  $('#period').val() },
            function(data) {

                $("#prescriptionHistoryTable tbody").remove();
                $('#selectMemberDropDownLoader').hide();
                $('#selectTimeDropDownLoader').hide();

                $.each(data, function(index, value) {
                    var row = "<tr><td>" + index + "</td><td>"+ value.rxNumber +"</td><td>"+ value.dateFilled + "</td><td>"+ value.drug +"</td><td>"+ value.mbrPaid +"</td><td>" + value.pharmacy + "</td></tr>";

                    $("#prescriptionHistoryTable").last().append(row);
                });

            }
        );
    }


</script>

</body>
</html>