<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:include="header :: header"></div>
    <style>
        body {
        background-image: url("images/background.png");
        background-size: cover;
        }
    </style>
    <body>

        <div th:include="navigation :: navigation"></div>

        <div class="jumbotron"><h1>ABC Member Portal</h1></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>





        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-10 col-sm-offset-1 col-md-offset-1">


                        <h2>Member Registration</h2>


                        <div class="row">

                            <div class="col-xs-12 col-sm-6 col-md-4" id="registrationForm">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>Security Questions</h4>
                                    </div>
                                    <div class="panel-body">



                                        <form  th:action="@{/registrationFinal}" th:object="${insuranceForm}" method="POST">
                                            <input class="form-control  input-lg" id="rx_grp_id" name="rx_grp_id"  th:field="*{groupId}" placeholder="Rx Group ID" type="hidden"></input>
                                            <input class="form-control  input-lg" id="member_id" name="member_id"  th:field="*{memberId}" placeholder="Member ID" type="hidden" ></input>
                                            <input class="form-control  input-lg" id="fname" name="first_name"  th:field="*{firstname}"  placeholder="First Name" type="hidden" ></input>
                                            <input class="form-control  input-lg" id="lname" name="last_name"  th:field="*{lastname}" placeholder="Last Name" type="hidden" ></input>
                                            <input class="form-control  input-lg" id="dob" name="date_of_birth"  th:field="*{birthDate}"  placeholder="Date of Birth" type="hidden"></input>

                                            <input class="form-control  input-lg" id="email" name="email" th:field="*{email}" type="hidden"></input>
                                            <input class="form-control  input-lg" id="password" name="password" th:field="*{password}" type="hidden"></input>

                                            <div class="form-register">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                                        <select th:field="*{question1}" class="form-control" name="question1">
                                                            <option value="Mother's Maiden Name">Mother's Maiden Name</option>
                                                            <option value="Father's Middle Name">Father's Middle Name</option>
                                                            <option value="Favorite Sports Team">Favorite Sports Team</option>
                                                            <option value="High School Mascot">High School Mascot</option>
                                                            <option value="First Grade Teacher">First Grade Teacher</option>
                                                        </select>
                                                        <br/><br/>
                                                        <select th:field="*{question2}" class="form-control" name="question2">
                                                            <option value="Best Friend's Name">Best Friend's Name</option>
                                                            <option value="Date of Birth">Date of Birth</option>
                                                            <option value="Favorite Color">Favorite Color</option>
                                                            <option value="Favorite Movie">Favorite Movie</option>
                                                            <option value="Favorite Hobby">Favorite Hobby</option>
                                                        </select>
                                                        <br/><br/>
                                                        <select th:field="*{question3}" class="form-control" name="question3">
                                                            <option value="Place of Birth">Place of Birth</option>
                                                            <option value="Model of Your First Car">Model of Your First Car</option>
                                                            <option value="Favorite Food">Favorite Food</option>
                                                            <option value="Your First Pets Name">Your First Pets Name</option>
                                                            <option value="Sibling's Middle Name">Sibling's Middle Name</option>
                                                        </select>
                                                        <br/><br/>
                                                        <button type="submit" class="btn btn-default">Submit</button>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">

                                                            <div class="form-register"><label></label>
                                                                <input id="answer1" th:field="*{answer1}" name="answer1" placeholder="Answer #1" type="text"></input><br/><br/>
                                                                <br/>
                                                                <input id="answer2" th:field="*{answer2}" name="answer2" placeholder="Answer #2" type="text"></input><br/><br/><br/>
                                                                <input id="answer3" th:field="*{answer3}" name="answer3" placeholder="Answer #3" type="text"></input><br/><br/>


                                                            </div>

                                                    </div>
                                                </div>
                                             </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>

                </div>
            </div>
        </div>

    </body>
</html>