<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:include="header :: header"></div>
<style>
    body {
        background-image: url("images/background.png");
        background-size: cover;
    }
</style>
<body>

<div th:include="navigation :: navigation"></div>

<div class="jumbotron"><h1>RX Member Portal</h1></div>

<div class="container" id="myWizard">

    <h3>Member Registration</h3>

    <hr></hr>

    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1"
             aria-valuemax="3" style="width: 100%;">
            Step 3 of 3
        </div>
    </div>

    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav nav-pills">
                <li><a href="#step1" data-step="1">Step 1</a></li>
                <li><a href="#step2" data-step="2">Step 2</a></li>
                <li class="active"><a href="#step3" data-step="3">Step 3</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="step3">
            <div class="well">
                <label id="errorMessageLabel" style="color: red;" th:text="${errorMessage}"> </label>
                <form th:action="@{/registrationFinal}" th:object="${insuranceForm}" method="POST">
                    <input class="form-control  input-lg" id="rx_grp_id" name="rx_grp_id"
                           th:field="*{groupId}" placeholder="Rx Group ID" type="hidden"></input>
                    <input class="form-control  input-lg" id="member_id" name="member_id"
                           th:field="*{memberId}" placeholder="Member ID" type="hidden"></input>
                    <input class="form-control  input-lg" id="fname" name="first_name"
                           th:field="*{firstname}" placeholder="First Name" type="hidden"></input>
                    <input class="form-control  input-lg" id="lname" name="last_name"
                           th:field="*{lastname}" placeholder="Last Name" type="hidden"></input>
                    <input class="form-control  input-lg" id="dob" name="date_of_birth"
                           th:field="*{birthDate}" placeholder="Date of Birth" type="hidden"></input>

                    <input class="form-control  input-lg" id="email" name="email" th:field="*{email}"
                           type="hidden"></input>
                    <input class="form-control  input-lg" id="password" name="password"
                           th:field="*{password}" type="hidden"></input>
                <div class="form-register">
                <h2>Step 3</h2>
                <label>Security Question 1</label>
                <select th:field="*{question1}" class="form-control input-lg" name="question1">
                    <option value="Mother's Maiden Name">Mother's Maiden Name</option>
                    <option value="Father's Middle Name">Father's Middle Name</option>
                    <option value="Favorite Sports Team">Favorite Sports Team</option>
                    <option value="High School Mascot">High School Mascot</option>
                    <option value="First Grade Teacher">First Grade Teacher</option>
                </select>
                <label>Enter Response</label>
                <input th:field="*{answer1}"  class="form-control input-lg"></input>
                <br></br>
                <label>Security Question 2</label>
                <select th:field="*{question2}" class="form-control input-lg" name="question2">
                    <option value="Best Friend's Name">Best Friend's Name</option>
                    <option value="Date of Birth">Date of Birth</option>
                    <option value="Favorite Color">Favorite Color</option>
                    <option value="Favorite Movie">Favorite Movie</option>
                    <option value="Favorite Hobby">Favorite Hobby</option>
                </select>
                <label>Enter Response</label>
                <input th:field="*{answer2}"  class="form-control input-lg"></input>
                <br></br>
                <label>Security Question 3</label>
                <select th:field="*{question3}" class="form-control input-lg" name="question3">
                    <option value="Place of Birth">Place of Birth</option>
                    <option value="Model of Your First Car">Model of Your First Car
                    </option>
                    <option value="Favorite Food">Favorite Food</option>
                    <option value="Your First Pets Name">Your First Pets Name</option>
                    <option value="Sibling's Middle Name">Sibling's Middle Name</option>
                </select>
                <label>Enter Response</label>
                <input th:field="*{answer3}"  class="form-control input-lg"></input>
                <br></br>
                    <button type="submit" class="btn btn-success first">Submit</button>
                </div>
                </form>
            </div>

        </div>
    </div>
    <script>$('.next').click(function () {

        var nextId = $(this).parents('.tab-pane').next().attr("id");
        $('[href=#' + nextId + ']').tab('show');
        return false;

    })

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

        //update progress
        var step = $(e.target).data('step');
        var percent = (parseInt(step) / 3) * 100;

        $('.progress-bar').css({width: percent + '%'});
        $('.progress-bar').text("Step " + step + " of 3");

        //e.relatedTarget // previous tab

    })

    $('.first').click(function () {

        $('#myWizard a:first').tab('show')

    })
    </script>


</div>
</body>
</html>