<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:include="header :: header"></div>
    <style>
        body {
        background-image: url("images/background.png");
        background-size: cover;
        }
    </style>
    <body>

        <div th:include="navigation :: navigation"></div>

        <div class="jumbotron"><h1>ABC Member Portal</h1></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <div class="container" id="myWizard">

            <h3>Member Registration</h3>

            <hr></hr>

            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 66%;">
                    Step 2 of 3
                </div>
            </div>

            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav nav-pills">
                        <li><a href="#step1"  data-step="1">Step 1</a></li>
                        <li class="active"><a href="#step2"  data-step="2">Step 2</a></li>
                        <li><a href="#step3"  data-step="3">Step 3</a></li>
                    </ul>
                </div>
            </div>
             <div class="tab-content">
                <div class="tab-pane fade in active" id="step2">
                    <div class="well">

                        <h2>Step 2</h2>
                        <label>Please enter your information</label>
                        <label id="errorMessageLabel" style="color: red;" th:text="${errorMessage}"> </label>
                        <form id="registrationEmailForm" th:action="@{/registrationEmail}" th:object="${insuranceForm}" method="POST">
                            <div class="form-register"><label></label>

                                <input class="form-control  input-lg" id="rx_grp_id" name="rx_grp_id"  th:field="*{groupId}" placeholder="Rx Group ID" type="hidden"></input>
                                <input class="form-control  input-lg" id="member_id" name="member_id"  th:field="*{memberId}" placeholder="Member ID" type="hidden" ></input>
                                <input class="form-control  input-lg" id="fname" name="first_name"  th:field="*{firstname}"  placeholder="First Name" type="hidden" ></input>
                                <input class="form-control  input-lg" id="lname" name="last_name"  th:field="*{lastname}" placeholder="Last Name" type="hidden" ></input>
                                <input class="form-control  input-lg" id="dob" name="date_of_birth"  th:field="*{birthDate}"  placeholder="Date of Birth" type="hidden"></input>

                                <input class="form-control  input-lg" id="email" name="email" placeholder="Email" type="email"></input>
                                <input class="form-control  input-lg" id="emailConfirmation" name="emailConfirmation" placeholder="Confirm Email" type="email"></input>
                                <input class="form-control  input-lg" id="password" name="password" placeholder="Password" type="password"></input>
                                <input class="form-control  input-lg" id="passwordConfirmation" name="passwordConfirmation" placeholder="Confirm Password" type="password"></input>

                            </div>
                        </form>
                    </div>
                    <a  id="nextButton" class="btn btn-default next" href="#">Continue</a>
                </div>
            </div>
            <script>$('#nextButton').click(function(){

                    if( $('#email').val() != $('#emailConfirmation').val()) {
                        $('#errorMessageLabel').text("Email does not match.");
                        return;
                    }


                    if( $('#password').val() != $('#passwordConfirmation').val()) {
                        $('#errorMessageLabel').text("Password does not match.");
                        return;
                    }

                    $("#registrationEmailForm").submit();

                })

                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                  //update progress
                  var step = $(e.target).data('step');
                  var percent = (parseInt(step) / 3) * 100;

                  $('.progress-bar').css({width: percent + '%'});
                  $('.progress-bar').text("Step " + step + " of 3");

                  //e.relatedTarget // previous tab

                })

                $('.first').click(function(){

                $('#myWizard a:first').tab('show')

                })

        </script>

        </div>

    </body>
</html>