<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<div th:include="header :: header"></div>
<style>
    body {
    background-image: url("images/background.png");
    background-size: cover;
    }
</style>
<body>

<div th:include="navigation :: navigation"></div>

<div class="jumbotron"><h1>ABC Member Portal</h1></div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"></link>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
  $(function() {
    $( "#dob" ).datepicker();
  });
  </script>

<div class="container" id="myWizard">

    <h3>Member Registration</h3>

    <hr></hr>

    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 33%;">
            Step 1 of 3
        </div>
    </div>

    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav nav-pills">
                <li class="active"><a href="#step1"  data-step="1">Step 1</a></li>
                <li><a href="#step2"  data-step="2">Step 2</a></li>
                <li><a href="#step3"  data-step="3">Step 3</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="step1">
                <div class="well"> <h2>Step 1</h2>
                    <label>Please enter your information</label>
                    <label style="color: red;" th:text="${errorMessage}"> </label>
                    <form  th:action="@{/registration}" th:object="${insuranceForm}" method="POST">
                        <div class="form-register">

                            <input class="form-control  input-lg" id="rx_grp_id" name="rx_grp_id"  th:field="*{groupId}" placeholder="Rx Group ID" type="text"></input>
                            <input class="form-control  input-lg" id="member_id" name="member_id"  th:field="*{memberId}" placeholder="Member ID" type="text" ></input>
                            <input class="form-control  input-lg" id="fname" name="first_name"  th:field="*{firstname}"  placeholder="First Name" type="text" ></input>
                            <input class="form-control  input-lg" id="lname" name="last_name"  th:field="*{lastname}" placeholder="Last Name" type="text" ></input>
                            <input class="form-control  input-lg" id="dob" name="date_of_birth"  th:field="*{birthDate}"  placeholder="Date of Birth" type="date"></input>

                            <br></br>
                            <input class="btn btn-default" id="validate" name="validate" value="Validate" type="submit"></input>
                        </div>
                    </form>
                </div>
            </div>
    <hr></hr>

    <a href="/terms?">Terms of Use</a>

    <hr></hr>
    </div>
</div>
</body>
</html>

