<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:include="header :: header"></div>
    <style>
        body {
        background-image: url("images/background.png");
        background-size: cover;
        }
    </style>
    <body>

        <div th:include="navigation :: navigation"></div>

        <div class="jumbotron"><h1>RX Member Portal</h1></div>

        <div class="reg-text">
            <div class="text-center">
                <h1>Registration Successful!</h1>
                <hr></hr>
                <h4><strong>Thank you for registering. Please check your email to confirm your account.</strong></h4>
                <div class="check-img">
                    <image src="images/check-mark.gif"></image>
                </div>

            </div>
        </div>


    </body>
</html>